<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Flamingo  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120520

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Flamingo by FCT</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Flamingo</a> / <span>by Css Templates</span></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div class="post">
			<h2 class="title">Praesent scelerisque scelerisque</h2>
			<p><img src="images/pics01.jpg" width="820" height="250" alt="" /></p>
			<p>This is <strong>Flamingo</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org">FCT</a>. The picture in this template is from <a href="http://fotogrph.com/">FotoGrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) </p>
		</div>
		<div id="two-column">
			<div id="column1">
				<h2>Etiam posuere augue</h2>
				<ul class="list-style1">
					<li class="first"><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a> </li>
				</ul>
			</div>
			<div id="column2">
				<h2>Nulla luctus eleifend</h2>
				<ul class="list-style1">
					<li class="first"><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a> </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="about">
		<h2 class="title">Amet mattis fringilla nisl</h2>
		<p><em><img src="images/pics02.jpg" alt="" width="250" height="172" class="alignleft" /></em>Libero rutrum felis dignissim accumsan cum at purus. Nisi lacinia duis dignissim purus. Cubilia mollis scelerisque a faucibus orci congue. Faucibus tristique elit varius nibh tristique lectus lorem. Donec risus mi egestas ultricies. Velit enim diam id magna hendrerit. Augue massa odio tempus. Metus nisl purus semper massa viverra. Auctor tincidunt dignissim montes duis integer faucibus. Eget felis nascetur magnis magnis ultricies velit. Libero rutrum felis dignissim accumsan cum at purus. Donec risus mi egestas ultricies. </p>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">fotogrph</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
