{% extends "base.html" %}

{% block external %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="post">
    <h2 class="title">Links</h2>
    <p>
    musictraner is a tool for musicians to organize their practice of tunes and connect them to concepts and resources that they pick up while on the way for easy access later forever. Here is a quick overview of how musictraner can be used:
    <br>
    Choose a username and password to register - no other details required!
    <br>
    Start working on a tune - add it to the tunes section and store all the data that you want. Upload sheet music for easy access to the tune anytime and on any device.
    <br>
    Connect the tunes to concepts that you are picking up on while working on the tune
    <br>
    Connect resources to the concepts and tunes for easy access later.
    
</div>
{% endblock %}


